@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;

}

body {

    background-color: #e2e7e6ab;
}




/* Header styling */




.Header {

    /* border: 1px solid red; */
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    background-color: #ffffff;


}



.title_img {
    height: 65px;
    width: 120px;
}



.navbar ul {

    /* border: 1px solid green; */
    height: 50px;
    width: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}



.navbar li {

    font-family: inherit;
    font-weight: 300;
    list-style: none;
    font-size: 1.1rem;

}




.navbar li:hover {
    color: #ff5204;
}




.navbar_links {
    text-decoration: none;
    border-radius: 10px 10px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d4152;
}



.btn {
    height: 40px;
    width: 75px;
    font-size: 1rem;
    border-radius: 15px 15px;
    background-color: #37cc19fd;
    color: #ffffff;
    border: none;
}



.btn:hover {
    background-color: #36a420;
    cursor: pointer;
}




.card {

    /* border: 1px solid green; */
    /* margin-top: 10px; */
    margin-left: 60px;
    width: 300px;
    height: 330px;
    padding: 5px 5px;
    /* background-color: #e2e7e6; */
    border-radius: 10px 10px;

}



.card>img {

    height: 220px;
    width: 290px;
    border-radius: 15px 15px;
}

.Restraunt_list {

    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 2400px;


}

.card_link1 {

    color: black;
    font-weight: bold;
    margin-top: 2%;
    font-size: 1.3rem;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.card_link1:hover {
    text-decoration: underline #ff5204;
    color: #ff5204;
}

.card_link2 {

    color: black;
    margin-top: 1%;
    font-size: 1.2rem;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card_links {

    color: #34363f9c;
    font-family: 'arial, Helvetica, sans-serif';
    margin-top: 1%;
    margin-left: 20px;
}

.restraunt_link {

    text-decoration: none;

}


.Restrauntinfo>img {
    height: 250px;
    width: 350px;
    border-radius: 10px 10px;
}


.shimmer-card {

    /* border: 1px solid grey; */
    height: 360px;
    width: 260px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px 10px;

}




.search-bar {

    height: 50px;
    width: 30%;
    border: none;
    border-radius: 20px 20px;
    margin-left: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 2%;
    font-size: 1rem;
    padding-left: 20px;


}


.InstaMart_section {
    margin: 10px 10px;
    color: blue;
    border: 1px solid green;
    display: flex;
    flex-direction: column;

}





/* Restraunt_info */





.add_food_button {

    padding: 10px 20px;
    border-radius: 5px 5px;
    border: none;
    background-color: #d3dad5a4;
    color: #1ba672;
    font-weight: bold;
    font-size: 1.1rem;

}

.add_food_button:hover {

    /* background-color:#424242 ; */
    /* background-color:#B0BEC5; */
    /* background-color:#E0E0E0; */
    background-color: #61616145;
    /* background : linear-gradient(90deg, #ECEFF1, #CFD8DC); */
    /* background : linear-gradient(90deg, #ECEFF1, #CFD8DC); */
    /* background :linear-gradient(90deg,#B0BEC5, #CFD8DC); */
    transform: scale(1.05);
    color: #1d7555;

}




.Restrauntinfo {
    /* background-color: rgb(41, 87, 62); */
    background-color: #1c932e;
    display: flex;

}


.img_name {

    padding-left: 20%;
    padding-bottom: 2%;
}

.res_img {

    height: 270px;
    width: 400px;
    border-radius: 20px 20px;

}


.res_name {

    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;


}



.res_locality {

    color: #ffffff;
    padding-top: 10%;
    font-size: 0.8rem;

}

.res_rating {
    color: #ffffff;
    font-size: 1.1rem;
    padding-left: 4px;


}

.res_cuisines {
    color: #ffffff;
    padding-top: 150px;
    padding-bottom: 15px;
    font-size: 1.3rem;

}


.star_icon {

    height: 17px;

}


.info_part {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 50px;

}

.Menu {

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu_img {
    height: 120px;
    width: 150px;
    border-radius: 10px 10px;
    /* border: 2px solid #bcbec327; */
    border: 2px solid #bcbec3c4;
}

.recommendation {
    padding-top: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu_names {
    padding-top: 15px;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.menu_items {

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 600px;
    /* background-color: #d6d9e353; */
    background-color: #e4e5e8b7;
    border-radius: 15px 15px;
    height: 200px;
    gap: 15px;
}

.cart_button {

    color: #1ba672;
    font-weight: 600;
    font-size: .9rem;
    padding: 15px 15px;
    margin-top: 10px;
    margin-left: 8px;
    border-radius: 10px 10px;
    border: none;
    background-color: #acaeae2a;


}

.cart_len {

    margin-left: 8px;
    margin-top: 20px;
    font-size: 1.7rem;
    font-family: monospace;

}



/* footer */




.footer {

    height: 700px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* border-radius: 50px; */
    background-color: rgba(255, 255, 255, 0.824);


}



.footer_text {

    font-size: 1.7rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d4152;
    margin-top: 5%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    width: 75%;
    /* border: 1px solid black; */


}

.footer_body {

    color: #3d4152;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
    /* border: 1px solid black; */
    height: 400px;
    width: 80%;
    margin-left: 13%;
    margin-top: 0%;

}


.footer1_img {

    height: 75px;
    width: 190px;
    margin-left: 1%;
    cursor: pointer;

}


.footer2_img {

    height: 75px;
    width: 190px;
    margin-left: 1.5%;
    cursor: pointer;

}

.swiggy_text {

    color: #ff5204;
    font-size: 2.1rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 30%;

}

.swiggy_logo {
    margin-top: 37%;
    margin-left: 30%;
}

.swiggy_limited {

    color: #02060ca8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 25%;

}

.box2 {

    padding-top: 32%;
    padding-left: 20%;

}

.box2 p {

    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;


}


.box2 p:hover {
    cursor: pointer;

}



.box3 {

    padding-top: 32%;
    padding-left: 20%;

}

.box3 p:hover {
    cursor: pointer;

}

.box3 p {

    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}



.lifeatSwiggy {

    /* border: 1px solid black; */
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30%;
    margin-left: 8%;

}

.lifeatSwiggy p:nth-child(1) {

    margin-top: 20px;

}


.part4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;


}

.part4:hover {
    cursor: pointer;
}

.box4 {

    display: flex;
    flex-direction: column;
    gap: 0%;


}

.social_links {

    /* border: 1px solid black; */
    height: 200px;
    margin-left: 5%;

}

.social_links p:nth-child(1) {
    margin-top: 8%;
    margin-bottom: 10%;
    margin-left: 5%;
}

.social_icons {

    margin-left: 5%;
    height: 18px;
    width: 17px;
    cursor: pointer;
}

/* InstaMart_section */

.instaMart_body {

    /* border: 1px solid red; */
    background-color: #9e9e9e2f;
    width: 900px;
    height: 700px;
    margin: auto;
    border-radius: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

}


.insta_image {

    height: 150px;
    width: 160px;
    margin: 15px 30px;

}

.insta_displayname {
    font-family: "Poppins", serif;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 5px;

}

.instaMart_input {

    padding: 15px 15px;
    width: 750px;
    font-size: 1rem;
    border-radius: 10px 10px;
    border: none;
    margin-left: 25%;
    margin-right: 2%;
    margin-top: 4%;

}

.insta_searchSection {

    height: 180px;
    border-radius: 0px 0px 0px 0px;
    margin: auto;
    width: 100%;
    background-color: #fff6fb;
}





.city_section {
    height: 850px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 20px;
    /* border: 1px solid black; */
    margin-top: 3%;



}



.city_names {

    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px;
    background-color: #d2d2d27e;


}


.Shimmer_cities {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: 850px;
    flex-wrap: wrap;
    column-gap: 100px;


}


.Shimmer_City_Cards {
    margin-top: 2%;
    height: 60px;
    width: 300px;
    border-radius: 10px 10px;
    background-color: #e3e3e7ef;

}

.pagination_controls {
    /* border: 1px solid red; */
    height: 50px;
    width: 18%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;

}

.button {
    height: 45px;
    width: 100px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px 15px;
    margin-left: 8%;
    border: none;
    background-color: #ff5100;
}

.button:hover {
    cursor: pointer;

}

.exploreSwiggy {
    /* border: 1px solid red; */
    color: #ff5204;
    width: 20%;
    margin-left: 38%;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;


}

.city_link {
    text-decoration: none;
    color: rgb(48, 48, 48);
}





.bestRestrauntMainPage {
    /* border: 1px solid red; */
    height: 730px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.bestRestraunt_main_text {
    font-size: 2.4rem;
    margin-left: 4%;

}

.bestRestraunt_page {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    height: 685px;


}

.bestRestraunt_text {

    font-size: 1.2rem;
    font-weight: 500;
    /* border: 1.5px solid rgba(168, 166, 166, 0.97); */
    background-color: #fdf1f8;
    border-radius: 15px 15px;
    width: 285px;
    margin-top: 1%;
    margin-left: 4%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.main_text {
    color: #29d506;
    text-decoration: none;
}

.main_text:hover {
    color: #ff5100;
}